# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
df.dropna(inplace=True)
df

           station       date  prcp  tobs
0      USC00519397 2010-01-01  0.08    65
1      USC00519397 2010-01-02  0.00    63
2      USC00519397 2010-01-03  0.00    74
3      USC00519397 2010-01-04  0.00    76
5      USC00519397 2010-01-07  0.06    70
...            ...        ...   ...   ...
19543  USC00516128 2017-08-17  0.13    72
19545  USC00516128 2017-08-19  0.09    71
19547  USC00516128 2017-08-21  0.56    76
19548  USC00516128 2017-08-22  0.50    76
19549  USC00516128 2017-08-23  0.45    76

[18103 rows x 4 columns]

In [4]:
# Set the date column as the DataFrame index
df.set_index('date', inplace=True)

In [5]:
# Drop the date column
df.drop(columns='station', inplace=True)

In [6]:
df

            prcp  tobs
date
2010-01-01  0.08    65
2010-01-02  0.00    63
2010-01-03  0.00    74
2010-01-04  0.00    76
2010-01-07  0.06    70
...          ...   ...
2017-08-17  0.13    72
2017-08-19  0.09    71
2017-08-21  0.56    76
2017-08-22  0.50    76
2017-08-23  0.45    76

[18103 rows x 2 columns]

### Compare June and December data across all years

In [7]:
from scipy import stats

In [9]:
# Filter data for desired months
df.reset_index(inplace=True)

            date  prcp  tobs
126   2010-06-01  0.00    78
127   2010-06-02  0.01    76
128   2010-06-03  0.00    78
129   2010-06-04  0.00    76
130   2010-06-05  0.00    77
...          ...   ...   ...
18052 2017-06-26  0.02    79
18053 2017-06-27  0.10    74
18054 2017-06-28  0.02    74
18055 2017-06-29  0.04    76
18056 2017-06-30  0.20    75

[1574 rows x 3 columns]

In [10]:
june = df.loc[df['date'].dt.month == 6]
dec = df.loc[df['date'].dt.month == 12]

In [11]:
# Identify the average temperature for June
juneavg = june['tobs'].mean()
juneavg

74.88754764930114

In [12]:
# Identify the average temperature for December
decavg = dec['tobs'].mean()
decavg

70.93024911032029

In [13]:
# Create collections of temperature data
junetemp = june.tobs
dectemp = dec.tobs

In [15]:
# Run paired t-test
stats.ttest_ind(junetemp, dectemp)

Ttest_indResult(statistic=30.865349991562194, pvalue=9.8415346259008e-182)

### Analysis

The T-Test resulted in an extremly low p-value showing statistcal significance to the difference in weather between December and June in Hawaii.